Repository joematthews/extreme-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

.lintstagedrc.json:

{
  "**/*.{js,ts,html,json}": "eslint",
  "**/*.{css,scss}": "stylelint",
  "**/*.{js,ts,css,scss,sh,html,md,json,yaml,yml}": "prettier --write --log-level warn",
  "**/*.{js,ts,sh,html,md}": "cspell --quiet",
  "**/*.ts": "tsc-files --noEmit"
}

fix: compound words are shown as misspellings
  .cspell.json
Due: eslint, prettier --write --log-level warn

chore: update angular to 19.2.7
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

fix: unknown property listed in the inlay hints section of README.md
  README.md
Due: prettier --write --log-level warn, cspell --quiet

chore: update to angular 19.2.14
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: update angular-eslint to 19.7.1
  angular.json
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: remove editor.codeActionsOnSave from .vscode/settings.json
  .vscode/settings.json
  README.md
Due: eslint, prettier --write --log-level warn, cspell --quiet

fix: permissions not set for github actions
  .github/workflows/on-pull-request.yml
  .github/workflows/validate-code.yml
Due: prettier --write --log-level warn

chore: update to angular 20
  .editorconfig
  .husky/pre-commit
  .husky/pre-push
  .vscode/settings.json
  README.md
  angular.json
  commitlint.config.js
  eslint.config.js
  package-lock.json
  package.json
  src/app/app.component.scss
  src/app/app.config.ts
  src/app/app.html
  src/app/app.scss
  src/app/app.spec.ts
  src/app/app.ts
  src/main.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: eslint, stylelint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

chore: clarify tips for custom formatting
  README.md
Due: prettier --write --log-level warn, cspell --quiet

fix: formatting for html files is broken
  .prettierrc.json
  README.md
  src/app/app.html
Due: eslint, prettier --write --log-level warn, cspell --quiet

chore: update to angular 20.0.4
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: update angular-eslint to 20.1.0
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: update cspell & lint-staged to latest
  package-lock.json
Due: eslint, prettier --write --log-level warn

fix: brace-expansion vulnerability
  package-lock.json
Due: eslint, prettier --write --log-level warn

chore: improve readme
  CONTRIBUTING.md
  README.md
Due: prettier --write --log-level warn, cspell --quiet

chore: update to angular 21
  README.md
  angular.json
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn, cspell --quiet

chore: update npm dependencies
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

fix(stylelint): add newly-required rules config property
  .stylelintrc.json
Due: eslint, prettier --write --log-level warn

chore: package-lock.json peer:true
  package-lock.json
Due: eslint, prettier --write --log-level warn

refactor: deprecate zone.js for angular 21 zoneless
  README.md
  angular.json
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/app.spec.ts
Due: eslint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

refactor: implement vitest, deprecate karma
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  angular.json
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.spec.json
Due: eslint, prettier --write --log-level warn, cspell --quiet

fix(tsconfig): scope tsconfig.spec.json include to spec files
  tsconfig.spec.json
Due: eslint, prettier --write --log-level warn

feat: hack workaround to make Vitest CLI/IDE plugins work outside of ngtest
  .vscode/extensions.json
  README.md
  package.json
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

chore: update angular-eslint to 21 - release notes: https://github.com/angular-eslint/angular-eslint/releases/tag/v21.0.0
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: update npm deps, angular 21.0.1
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: update npm deps
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

fix(vitest): windows path different due to angular bug
  vitest.config.ts
Due: eslint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

chore: align configuration with Angular 21 defaults
  .lintstagedrc.json
  .nvmrc
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.spec.json
  vitest.config.ts
  vitest.setup.ts
Due: eslint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

chore: align prettier config with Angular 21 defaults
  .github/workflows/on-pull-request.yml
  .prettierrc.json
  README.md
  commitlint.config.js
  eslint.config.js
  src/app/app.html
  src/app/app.spec.ts
Due: eslint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

docs: update Custom Formatting section for Angular 21 defaults
  README.md
Due: prettier --write --log-level warn, cspell --quiet

docs: add experimental vitest IDE workaround guide
  README.md
  docs/vitest-ide-workaround.md
Due: prettier --write --log-level warn, cspell --quiet

chore: update package-lock.json
  package-lock.json
Due: eslint, prettier --write --log-level warn

chore: update angular to 21.1.4
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: run `npm update`
  package-lock.json
Due: eslint, prettier --write --log-level warn

docs: revise README for clarity and update license copyright years
  LICENSE.txt
  README.md
Due: prettier --write --log-level warn, cspell --quiet

chore: update angular to 21.2.4
  package-lock.json
  package.json
Due: eslint, prettier --write --log-level warn

chore: update to angular 22 and refresh tooling
  .cspell.json
  .github/dependabot.yml
  .github/workflows/validate-code.yml
  .gitignore
  .nvmrc
  .prettierrc
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  angular.json
  commitlint.config.js
  docs/vitest-ide-workaround.md
  eslint.config.js
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/app.html
  src/app/app.spec.ts
  src/app/app.ts
  tsconfig.json
Due: eslint, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

chore: update to angular 22.1.6
  .cspell.json
  .github/workflows/validate-code.yml
  .husky/commit-msg
  CONTRIBUTING.md
  README.md
  docs/vitest-ide-workaround.md
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.spec.json
Due: eslint, prettier --write --log-level warn, cspell --quiet
