Repository joematthews/extreme-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix strict, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

.lintstagedrc.json:

{
  "**/*.{js,ts,html,json}": "eslint --fix",
  "**/*.{css,scss}": "stylelint --fix strict",
  "**/*.{js,ts,css,scss,sh,html,md,json,yaml,yml}": "prettier --write --log-level warn",
  "src/**/*": "cspell --quiet",
  "**/*.ts": "tsc-files --noEmit"
}

chore: add e2e section to readme
  README.md
Due: prettier --write --log-level warn

chore: more readme adjustments
  README.md
Due: prettier --write --log-level warn

chore: more adjustments to readme
  README.md
Due: prettier --write --log-level warn

chore: use alternative hero meme in readme
  README.md
Due: prettier --write --log-level warn

feat: set type:module in package.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

fix: refactor eslint config as ESM
  eslint.config.js
Due: eslint --fix, prettier --write --log-level warn

fix: convert commitlint config to ESM
  commitlint.config.js
Due: eslint --fix, prettier --write --log-level warn

feat: add single quote formatting for .js in editorconfig
  .editorconfig
Due: none

fix: incorrect references to `extreme-angular-2` in src/ files
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/index.html
Due: eslint --fix, prettier --write --log-level warn, cspell --quiet, tsc-files --noEmit

fix: missing i18n rule example
  README.md
Due: prettier --write --log-level warn

feat: add custom formatting to tips and tricks
  .editorconfig
  README.md
Due: prettier --write --log-level warn

chore: add reasons not to change formatting
  .editorconfig
  README.md
Due: prettier --write --log-level warn

fix: jasmine eslint config conflicts with e2e
  README.md
  eslint.config.js
Due: eslint --fix, prettier --write --log-level warn

chore: readme, better link for reasons to use 2 spaces
  README.md
Due: prettier --write --log-level warn

fix: `serve:ssr:extreme-angular` is in package.json but ssr is not installed
  package.json
Due: eslint --fix, prettier --write --log-level warn

chore: run `ng update`
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

fix: irrelevant words in .cspell.json word list
  .cspell.json
Due: eslint --fix, prettier --write --log-level warn

fix: duplicate quote_type set in .editorconfig for js files
  .editorconfig
Due: none

fix: using --fix flag in .lintstagedrc.json scripts
  .lintstagedrc.json
Due: eslint --fix, prettier --write --log-level warn

fix: jetbrains toc text is incorrect
  README.md
Due: prettier --write --log-level warn

fix: minor issues noticed after release
  LICENSE.txt
  README.md
Due: prettier --write --log-level warn

fix: typescript case
  README.md
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: eslint --fix, prettier --write --log-level warn

docs: clarify ng new command used for base project
  README.md
Due: prettier --write --log-level warn

chore: update eslint-config-prettier to 10.0.1
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

docs: misc formatting
  README.md
Due: prettier --write --log-level warn

docs: use git repo links instead of npmjs
  README.md
Due: prettier --write --log-level warn

chore: sort prettier plugin array
  .prettierrc.json
Due: eslint --fix, prettier --write --log-level warn

chore: update lint-staged to 15.4.1
  package-lock.json
Due: eslint --fix, prettier --write --log-level warn

feat: add and configure eslint-formatter-mo
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

fix: cspell is only linting src/ directory on commit
  .lintstagedrc.json
Due: eslint --fix, prettier --write --log-level warn

feat: add lint:tsc:all script
  README.md
  package.json
Due: eslint --fix, prettier --write --log-level warn

docs: add starship link to shell configuration frameworks
  README.md
Due: prettier --write --log-level warn

chore: update angular to 19.1.2
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

chore: update packages
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

chore: update Angular license copyright to match angular.dev/license
  LICENSE.txt
  README.md
Due: prettier --write --log-level warn

chore: update angular to 19.1.3
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

chore: run npm update
  .cspell.json
  package-lock.json
Due: eslint --fix, prettier --write --log-level warn

chore: update angular to 19.1.7
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn

fix: cspell errors on json and yaml files
  .cspell.json
  .lintstagedrc.json
Due: eslint --fix, prettier --write --log-level warn

chore: update angular to 19.2.3
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --log-level warn
